[Desktop Entry]
Name=Hotot Qt
GenericName=Twitter Client
Type=Application
Comment=Lightweight Twitter Client base on QtWebkit
Exec=hotot-qt
Icon=hotot-qt
Categories=Qt;Network;
