/* disable all shadow effects, custom widgets */
* {
    -webkit-transition: none !important;
}
.radio_group_btn.selected {
    text-shadow: none !important;
}

input, input:hover, input:focus, input:active {    
    box-shadow: none !important;
}

input[type=checkbox] {
    -webkit-appearance: checkbox;
}

input[type=radio] {
    -webkit-appearance: radio;
}

select[]

