/*  = predefine = */
/*
    == default theme ==
normal:
    fg-color: #333;
    bg-color: from #fff to #f3f3f3;
    border-color: #ccc;
    text-bg-color: #fff;
hover:
    fg-color: #000;
    light-color: #ADE6FF
active:
    inset shadow:  #ccc 0 0 5px;
disabled:
    fg-color: #999;
    text-bg-color: #eee;
    
    == dark theme ==
normal:
    fg-color: #eee
    bg-color: from #666 to #333;
    border-color: #ccc;
hover:
    fg-color: #fff;
    light-color: #ADE6FF
active:
    inset shadow:  #333 0 0 5px;
disabled:
    fg-color: #aaa;
    text-bg-color: #eee;

*/
/* = widget.button = */
.button {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,white), color-stop(4%,#EEE), color-stop(100%,#DEDEDE));
    display: inline-block;
    text-align: center;
    height: 30px;
    line-height: 30px;
    min-width: 70px;
    padding: 0 10px;
    color: #777;
    border: 1px #ccc solid;
    margin-left: 1px;
    text-decoration: none;
    font-size: 12px;
    border-radius: 2px;
    cursor: pointer;
    font-weight: bold;
    text-shadow: #fff 0 1px 1px; 
}

.button.dark {
    color: #ddd;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#888), color-stop(4%,#666), color-stop(100%,#333));
    border: 1px #444 solid;
    text-shadow: #333 0 -1px 1px; 
}

.button:hover {
    color: #333;
}

.button.dark:hover {
    color: #eee;
}

.button:active {
    -webkit-box-shadow: inset #ccc 0 0 5px;
}

.button.dark:active {
    -webkit-box-shadow: inset #333 0 0 5px;
}

.button.disabled {
    color: #999 !important;
    -webkit-box-shadow: none !important;
}
.button.dark.disabled {
    color: #aaa !important;
}

/* = Combo = */
.combo {
    outline: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,white), color-stop(4%,#EEE), color-stop(100%,#DEDEDE));
    display: inline-block;
    text-align: center;
    height: 30px;
    min-width: 70px;
    padding: 0 10px;
    color: #333;
    border: 1px #ccc solid;
    margin-left: 1px;
    text-decoration: none;
    font-size: 12px;
    border-radius: 2px;
    cursor: pointer;
    vertical-align: middle;
    text-shadow: #fff 0 1px 1px; 
}

.combo.dark {
    color: #ddd;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#888), color-stop(4%,#666), color-stop(100%,#333));
    border: 1px #444 solid;
    text-shadow: #333 0 -1px 1px; 
}

.combo:hover {
    color: #000;
}

.combo.dark:hover {
    color: #fff;
}


/* = widget.checkbox = */

.checkbox, .radio {
    border: 1px #CCC solid;
    -webkit-appearance: none;
    min-height: 16px;
    min-width: 16px;
    vertical-align: middle;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#F3F3F3));
    margin: 5px;
    cursor: pointer;
}

.checkbox:checked, .radio:checked {
    border: 3px #fff solid;
    background: -webkit-gradient(linear, left top, left bottom, from(#bbeaff), to(#4ac3ff));
    box-shadow:  0 0 1px #333;
}

.checkbox.dark, .radio.dark {
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#333));
    border: 1px #444 solid;
}

.checkbox.dark:checked, .radio.dark:checked {
    border: 3px #444 solid;
    background: -webkit-gradient(linear, left top, left bottom, from(#bbeaff), to(#4ac3ff));
}

.radio {
    border-radius: 8px;
}

/* = widget.label = */
.label {
    color: #333;
    font-size: 12px;
    vertical-align: middle;
}

.label.dark {
    color:#eee;
}
/* = widget.entry & widget.textarea = */
/* == entry & textarea == */
.entry, .textarea {
    border: 1px #ccc solid;
    padding: 2px 5px;
    background-color: #fff;
    outline: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
    font-size: 14px;
    font-family: monospace;
}

.entry:focus, .textarea:focus {
    box-shadow: inset 0 1px 4px #bbeaff;
}

.entry.dark:focus, .textarea.dark:focus {
    box-shadow: inset 0 1px 4px #4ac3ff;
}

.entry.dark, .textarea.dark {
    border-color: #444;
    background-color: #ccc;
}

.entry.disabled, .entry[disabled], .textarea.disabled, .textarea[disabled] {
    color: #aaa;
    background-color: #eee;
}

/* = entry = */
.entry {
    height: 24px;
    line-height: 24px;
}

/* = radio group = */
.radio_group {
    margin: 0;
    vertical-align: middle;
}

.radio_group > li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: inline-block;
    min-width: 80px;
    height: 32px;
    margin-left: -1px;
}

.radio_group > li > .radio_group_btn {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#fff), color-stop(4%,#EEE), color-stop(100%,#DEDEDE));
    display: inline-block;
    text-align: center;
    height: 30px;
    line-height: 30px;
    min-width: 70px;
    padding: 0 5px;
    color: #777;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    border-top: 1px #ccc solid;
    border-left: none;
    margin-left: 1px;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    text-shadow: #fff 0 1px 1px; 
}

.radio_group > li > .radio_group_btn:hover {
    color: #333;
}

.radio_group.dark > li > .radio_group_btn {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#888), color-stop(4%,#666), color-stop(100%,#333));
    color: #ddd;
    text-shadow: #333 0 -1px 1px; 
    border-right: 1px #444 solid;
    border-bottom: 1px #444 solid;
    border-top: 1px #444 solid;
}

.radio_group.dark > li > .radio_group_btn:hover {
    color: #eee;
}

.radio_group > li:first-child > .radio_group_btn {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-left: 1px #ccc solid;
}

.radio_group.dark > li:first-child > .radio_group_btn {
    border-color: #444;
}

.radio_group > li:last-child > .radio_group_btn {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.radio_group > li > .radio_group_btn.selected {
    color: #555;
    border-color: #bbb;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bbb), color-stop(100%,#DEDEDE));
}

.radio_group.dark > li > .radio_group_btn.selected {
    color: #4ac3ff;
    text-shadow: #4ac3ff 0 0 15px; 
    background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#555));
    border-color: #444;
}

.radio_group_page {
    display: none;
}

.radio_group_page:first-child {
    display: block;
}

/* = widget.dialog = */
.dialog {
    background: white;
    border-radius: 2px;
    position: fixed;
    color: #333;
    display: none;
    width: 500px;
    height: 400px;
    top: 0;
    left: 0;
    -webkit-box-shadow: 1px 1px 5px #000;
}

.dialog_bar {
    height: 30px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    position:relative;
}

.dialog_bar > .dialog_close_btn {
    height: 24px;
    width: 24px;
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    background: transparent url(../image/ic16_close.png) center center no-repeat;
}

.dialog_bar > .dialog_title {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #333;
    text-shadow: 0 1px 0px white;
    background: #F2F2F2;
    border-bottom: 1px #CCC solid;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin: 0;
    padding-left: 20px;
}

.dialog_container {
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 14px;
}

.dialog_header {
    height: 59px;
    border-bottom: 1px #ccc solid;
}

.dialog_body {
    padding: 10px 10px;
    overflow-y: auto;
}

.dialog_footer {
    height: 59px;
    text-align: right; 
    border-top: 1px #ccc solid; 
    clear:both; 
}

.dialog_block {
    font-size: 12px;
    line-height: 1.6em;
    word-wrap: break-all; 
    white-space:normal;
}

.dialog_block h3 {
    margin: 5px 0;
    font-size: 12px;
}

.dialog_block p {
    padding-left: 10px;
    margin: 5px 0;
}

.dialog_block p * {
    word-wrap: break-all; 
    white-space:normal;
}

/* = widget.bubble = */
.bubble {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    z-index: 99999;
}
.bubble_container {
}
.bubble_body { 
    border-radius: 2px;
    color: #fff;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
    background-color: rgba(0,0,0,0.8);
    padding: 10px;
}
/* = widget.progress_bar = */
.progress_bar {
    height: 10px;
    width: 100px;
    border: 1 #ccc solid;
}


