/*  = predefine = */
/*
    == default theme ==
normal:
    fg-color: #333;
    bg-color: from #fff to #f3f3f3;
    border-color: #ccc;
    text-bg-color: #fff;
hover:
    fg-color: #000;
    light-color: #ADE6FF
active:
    inset shadow:  #ccc 0 0 5px;
disabled:
    fg-color: #999;
    text-bg-color: #eee;
    
    == dark theme ==
normal:
    fg-color: #eee
    bg-color: from #666 to #333;
    border-color: #ccc;
hover:
    fg-color: #fff;
    light-color: #ADE6FF
active:
    inset shadow:  #333 0 0 5px;
disabled:
    fg-color: #aaa;
    text-bg-color: #eee;

*/
/* = widget.button = */
.button {
    display: inline-block;
    text-align: center;
    height: 30px;
    line-height: 30px;
    min-width: 70px;
    padding: 0 10px;
    color: #222;
    border: 1px #ccc solid;
    margin-left: 1px;
    text-decoration: none;
    font-size: 12px;
    border-radius: 2px;
    cursor: pointer;
    text-shadow: #fff 0 1px 1px; 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #FCFCFC), color-stop(4%,#F2F2F2), color-stop(100%,#EEE));
}

.button.dark {
    color: #4ac3ff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#888), color-stop(4%,#555), color-stop(100%,#282828));
    border: 1px #444 solid;
    text-shadow: #4ac3ff 0 0 15px; 
}

.button:hover {
		background: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #FCFCFC), color-stop(4%,#F8F8F8), color-stop(100%,#F2f2f2));
}

.button.dark:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#888), color-stop(4%,#666), color-stop(100%,#333));
}

.button:active {
    -webkit-box-shadow: inset #ccc 0 0 5px;
    -moz-box-shadow: inset #ccc 0 0 5px;
    box-shadow: inset #ccc 0 0 5px;
}

.button.dark:active {
    -webkit-box-shadow: inset #333 0 0 5px;
    -moz-box-shadow: inset #333 0 0 5px;
    box-shadow: inset #333 0 0 5px;
}

.button.disabled {
    color: #999 !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,white), color-stop(4%,#F2F2F2), color-stop(100%,#EEE));
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.button.dark.disabled {
    color: #aaa !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#888), color-stop(4%,#555), color-stop(100%,#282828));
}
.button:focus {
    border-color: #4D90FE !important;
}
.button .icon {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
}
/* = Combo = */
.combo {
    outline: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,white), color-stop(4%,#F2F2F2), color-stop(100%,#EEE));
    display: inline-block;
    text-align: center;
    height: 30px;
    min-width: 70px;
    padding: 0 10px;
    color: #333;
    border: 1px #ccc solid;
    margin-left: 1px;
    text-decoration: none;
    font-size: 12px;
    border-radius: 2px;
    cursor: pointer;
    vertical-align: middle;
    text-shadow: #fff 0 1px 1px; 
		-webkit-appearance: none;
		position: relative;
}

.combo.dark {
    color: #ddd;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#888), color-stop(4%,#555), color-stop(100%,#282828));
    border: 1px #444 solid;
    text-shadow: #333 0 -1px 1px; 
}

.combo:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,white), color-stop(4%,#EEE), color-stop(100%,#DEDEDE));
}

.combo.dark:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#888), color-stop(4%,#666), color-stop(100%,#333));
}

.combo:focus {
    border-color: #4D90FE;
}
.combo.dark:focus {
    border: 1px #444 solid;
}
.combo.dark option {
	background: rgba(0,0,0,0.7);
	color: white;
}

/* = widget.checkbox = */

.checkbox, .radio {
    border: 1px #CCC solid;
    -webkit-appearance: none;
    min-height: 16px;
    min-width: 16px;
    vertical-align: middle;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#F3F3F3));
    margin: 5px;
    cursor: pointer;
}

.checkbox:checked, .radio:checked {
    border: 3px #fff solid;
    background: -webkit-gradient(linear, left top, left bottom, from(#bbeaff), to(#4ac3ff));
    -webkit-box-shadow:  0 0 1px #333;
    -moz-box-shadow:  0 0 1px #333;
    box-shadow:  0 0 1px #333;
}

.checkbox:checked:disabled, .radio:checked:disabled {
    background: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#b0b0b0));
}

.checkbox.dark, .radio.dark {
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#333));
    border: 1px #444 solid;
}

.checkbox.dark:checked, .radio.dark:checked {
    border: 3px #444 solid;
    background: -webkit-gradient(linear, left top, left bottom, from(#bbeaff), to(#4ac3ff));
}

.checkbox.dark:checked:disabled, .radio.dark:checked:disabled {
    background: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#b0b0b0));
}

.checked:focus, .radio:focus {
    border-color: #4D90FE;
}

.radio {
    border-radius: 8px;
    outline: none;
}

/* = widget.entry & widget.textarea = */
/* == entry & textarea == */
.entry, .textarea {
	background: #FCFCFC;
	border: 1px solid #ddd;
	padding: 2px 5px;
	outline: none;
	margin: 0;
	color: #444;
	-moz-box-shadow: 1px 1px 4px #F4F4F4 inset;
	-webkit-box-shadow: 1px 1px 4px #F4F4F4 inset;
	box-shadow: 1px 1px 4px #F4F4F4 inset;
}

.entry:focus, .textarea:focus {
	border-color: #bbb;
}

.entry.dark:focus, .textarea.dark:focus {
  border-color: #4D90FE;
}

.entry.dark, .textarea.dark {
    border-color: #444;
    background-color: #ccc;
}

.entry.disabled, .entry[disabled], .textarea.disabled, .textarea[disabled] {
    color: #aaa;
    background-color: #eee;
}

/* = entry = */
.entry {
    height: 24px;
    line-height: 24px;
}

/* = radio group = */
.radio_group {
    margin: 0;
    vertical-align: middle;
}

.radio_group > li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: inline-block;
    height: 32px;
    margin-left: -1px;
}

.radio_group > li > .radio_group_btn {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#fff), color-stop(4%,#EEE), color-stop(100%,#DEDEDE));
    display: inline-block;
    text-align: center;
    height: 30px;
    line-height: 30px;
    min-width: 60px;
    padding: 0 5px;
    color: #444;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    border-top: 1px #ccc solid;
    border-left: none;
    margin-left: 1px;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    text-shadow: #fff 0 1px 1px; 
}

.radio_group > li > .radio_group_btn:hover {
    color: #222;
}

.radio_group.dark > li > .radio_group_btn {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#888), color-stop(4%,#666), color-stop(100%,#333));
    color: #ddd;
    text-shadow: #333 0 -1px 1px; 
    border-right: 1px #444 solid;
    border-bottom: 1px #444 solid;
    border-top: 1px #444 solid;
}

.radio_group.dark > li > .radio_group_btn:hover {
    color: #eee;
}

.radio_group > li:first-child > .radio_group_btn {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-left: 1px #ccc solid;
}

.radio_group.dark > li:first-child > .radio_group_btn {
    border-color: #444;
}

.radio_group > li:last-child > .radio_group_btn {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.radio_group > li > .radio_group_btn.selected {
    color: #555;
    border-color: #bbb;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bbb), color-stop(100%,#DEDEDE));
}

.radio_group.dark > li > .radio_group_btn.selected {
    color: #4ac3ff;
    text-shadow: #4ac3ff 0 0 15px; 
    background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#555));
    border-color: #444;
}

.radio_group_page {
    display: none;
}

.radio_group_page:first-child {
    display: block;
}

/* = widget.dialog = */
.dialog {
    background: white;
    border-radius: 2px;
    position: fixed;
    color: #333;
    display: none;
    width: 500px;
    height: 400px;
    top: 0;
    left: 0;
    -webkit-box-shadow: 1px 1px 5px #000;
    -moz-box-shadow: 1px 1px 5px #000;
    box-shadow: 1px 1px 5px #000;
}

.dialog_bar {
	height: 38px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	position: relative;
	border-bottom: 1px #333 solid;
}

.dialog_bar > .dialog_close_btn {
	height: 38px;
	width: 38px;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	background: transparent url(../image/ic16_close.png) center center no-repeat;
	border-left: 1px #444 solid;
}

.dialog_bar > .dialog_title {
	height: 38px;
	line-height: 38px;
	font-size: 14px;
	color: #F2F2F2;
	text-shadow: 0 -1px 0px black;
	background: #333 url(../../image/mask.png);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	margin: 0;
	text-align: center
}

.dialog_container {
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 14px;
}

.dialog_header {
    border-bottom: 1px #ccc solid;
    padding: 10px;
    height: 32px;
}

.dialog_body {
    padding: 10px 10px;
    overflow-y: auto;
		background: -webkit-gradient(linear, left top, left bottom, from(#F4F4F6), to(#EDEDED));
}
.dialog_body .mochi_entry.widget {
	width: 300px;
}
.dialog_footer {
    height: 59px;
    text-align: right; 
    border-top: 1px #ccc solid; 
    clear:both; 
    padding: 10px;
    height: 32px; 
}

.dialog_block {
    font-size: 12px;
    line-height: 1.6em;
    word-wrap: break-all; 
    white-space:normal;
}

.dialog_body h3 {
	margin: 0;
	font-size: 15px;
	padding: 2px 0 4px 10px;
	text-shadow: 0 1px 1px white;
}

.dialog_block p {
    padding-left: 10px;
    margin: 5px 0;
}

.dialog_block p * {
    word-wrap: break-all; 
    white-space:normal;
}

/* = widget.bubble = */
.bubble {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    z-index: 99999;
}
.bubble_container {
    
}
.bubble_body { 
    border-radius: 2px;
    color: #fff;
    background-color: rgba(0,0,0,0.8);
    padding: 10px;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
}
/* = widget.progress_bar = */
.progress_bar {
    height: 10px;
    width: 100px;
    border: 1 #ccc solid;
}
/* = widget.autocomplete = */
.autocomplete {
    list-style-type: none;
    max-height: 200px;
    overflow: auto;
    background-color: white;
    border: 1px #ddd solid;
    display: none;
    position: absolute;
    background: white;
    text-align: left;
    text-indent: 30px;
    z-index: 10;
}

.autocomplete li.selected { 
    background: lightgray;
}

.autocomplete li { 
    display: block;
    height: 24px;
    line-height: 24px;
}

.autocomplete li:hover {
    
}

/* scrollbar */
#scrollbar_container {  
	position:relative;  
} 
 
.scrollbar_track {  
	position:absolute;  
	top:0;  
	right:0;  
	height:100%;  
	width:10px;  
	cursor:pointer;
} 

.scrollbar_track .scrollbar_slot {
	background-color: rgba(200,200,200,0.1);  
	border-radius: 5px;
	height:100%;  
	position:relative;  
}

.scrollbar_track:hover .scrollbar_slot {  
	background-color: rgba(80,80,80,0.1);  
}

.scrollbar_handle {  
	width:10px;  
	background-color: gray;  
	cursor:pointer;  
	border-radius: 5px;  
	opacity:0.5;  
	min-height: 100px;
	position: absolute;
	-webkit-transition: opacity 0.2s ease-in;
} 

.scrollbar_track.active .scrollbar_handle, .scrollbar_handle:hover {
	opacity:0.9;  
}

.scrollbar_content {  
	overflow:hidden;  
}  
