input[type="button"], input[type="submit"], input[type="checkbox"], input[type="radio"] {
}
.gradient_light {
    background:#fbfdfb;
    
    
    
    
    
    background:#e8eae9;
    
}
.gradient_dark {
    background:#737373;
    
    
    
    
    
    background:#484649;
    
}
.touchable {
    user-select:none;
    box-sizing:border-box;
    height:30px;
    line-height:28px;
    font-family:'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    outline:0;
    cursor:pointer;
    font-size:14px;
    transition:all .2s ease-out
}
.touchable * {
    cursor:pointer
}
.editable {
    box-sizing:border-box;
    font-size:14px;
    min-width:70px;
    height:30px;
    outline:0;
    font-family:Helvetica, Arial, sans-serif
}
.button_like {
    background:#fbfdfb;
    
    
    
    
    
    background:#e8eae9;
    
    border-radius:2px;
    border:1px #b2b3b4 solid;
    color:#333;
    text-decoration:none;
    text-shadow:0
}
.button_like_dark {
    background:#737373;
    
    
    
    
    
    background:#484649;
    
    border-radius:2px;
    border:1px #3f3e3d solid;
    color:#333;
    text-decoration:none;
    text-shadow:0
}
.has_icon::after, .only_icon::after {
    content:" ";
    position:relative;
    top:6px;
    float:left;
    width:16px;
    height:16px;
    margin:0 .5em 0
    display:block;
    background:transparent url(../image/ic16_sample.png) 0 0 no-repeat
}
.only_icon {
    padding:0!important;
    min-width:30px!important;
    text-indent:-99999px;
    overflow:hidden
}
.only_icon::after {
    margin:0 6px
}
.mochi_button {
    background:#fbfdfb;
    
    
    
    
    
    background:#e8eae9;
    
    border-radius:2px;
    border:1px #b2b3b4 solid;
    color:#333;
    text-decoration:none;
    text-shadow:0
    user-select:none;
    box-sizing:border-box;
    height:30px;
    line-height:28px;
    font-family:'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    outline:0;
    cursor:pointer;
    font-size:14px;
    transition:all .2s ease-out;
    display:inline-block;
    text-align:center;
    padding:0 20px;
    min-width:70px
}
.mochi_button * {
    cursor:pointer
}
.mochi_button:hover, .mochi_button_hover {
    background:#fefefe;
    
    
    
    
    
    background:#f1f6f3;
    
}
.mochi_button:active, .mochi_button_active {
    box-shadow:inset 0 0 2px rgba(0, 20, 30, 0.3)
}
.mochi_button_selected {
    box-shadow:inset 0 0 2px rgba(0, 20, 30, 0.2);
    background:#d3d4d8;
    
    
    
    
    
    background:#dedfe1;
    
}
.mochi_button_dark_selected {
    box-shadow:inset 0 0 2px rgba(0, 20, 30, 0.8);
    background:#2c2b27;
    
    
    
    
    
    background:#21201e;
    
}
.mochi_button.round {
    border-radius:15px
}
.mochi_button[disabled], .mochi_button_disabled {
    background:#f2f2f2;
    
    
    
    
    
    background:#d7d8da;
    
    color:#666;
    cursor:default;
    text-shadow:0
}
.mochi_button.black, .mochi_button_dark {
    background:#737373;
    
    
    
    
    
    background:#484649;
    
    color:#DDD;
    text-shadow:black 0 1px 1px;
    border:1px solid #3f3e3d
}
.mochi_button.black:hover, .mochi_button_hover.black, .mochi_button_dark_hover {
    background:#838383;
    
    
    
    
    
    background:#585659;
    
}
.mochi_button.black:active, .mochi_button_active.black, .mochi_button_dark_active {
    box-shadow:inset 0 0 2px rgba(0, 20, 30, 0.8)
}
.mochi_button.black[disabled], .mochi_button_dark_disabled {
    background:#585659;
    
    
    
    
    
    background:#484649;
    
    color:#666;
    cursor:default;
    text-shadow:0
}
.mochi_button.blue {
    background:#3099e7;
    
    
    
    
    
    background:#2457da;
    
    color:#c1e2fe;
    text-shadow:#454578 0 1px 1px;
    border:1px solid #0666b6
}
.mochi_button.blue:hover, .mochi_button_hover.blue {
    background:#50a9f7;
    
    
    
    
    
    background:#226fdd;
    
}
.mochi_button.blue:active, .mochi_button_active.blue {
    box-shadow:inset 0 0 2px rgba(20, 20, 60, 0.5)
}
.mochi_button.red {
    background:#e73034;
    
    
    
    
    
    background:#ca1416;
    
    color:#fec2c1;
    text-shadow:#784845 0 1px 1px;
    border:1px solid #c60c06
}
.mochi_button.red:hover, .mochi_button_hover.red {
    background:#f7505c;
    
    
    
    
    
    background:#dd222d;
    
}
.mochi_button.red:active, .mochi_button_active.red {
    box-shadow:inset 0 0 2px rgba(60, 20, 20, 0.5)
}
.mochi_entry, .mochi_textarea {
    box-sizing:border-box;
    font-size:14px;
    min-width:70px;
    height:30px;
    outline:0;
    font-family:Helvetica, Arial, sans-serif;
    background:#fff;
    border:1px solid #ddd;
    padding:2px 5px;
    outline:0;
    margin:0;
    color:#444;
    box-shadow:inset 1px 1px 4px #f4f4f4
}
.mochi_entry:focus, .mochi_textarea:focus {
    border-color:#bbb
}
.mochi_entry[disabled], .mochi_entry[disabled] {
    color:#aaa;
    background-color:#f3f3f3
}
.mochi_textarea {
    resize:none
}
input[type=checkbox]{
    width:20px;
    height:20px;
    margin-top:5px;
    cursor:pointer;
}
.mochi_button_group {
    margin:0;
    vertical-align:middle;
    padding:0
}
.mochi_button_group>li {
    padding:0;
    margin:0;
    list-style-type:none;
    display:inline-block;
    height:30px;
    margin-left:-1px
}
.mochi_button_group_item {
    background:#fbfdfb;
    background:#e8eae9;
    border-radius:2px;
    border:1px #b2b3b4 solid;
    color:#333;
    text-decoration:none;
    text-shadow:0
    user-select:none;
    box-sizing:border-box;
    height:30px;
    line-height:28px;
    font-family:'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    outline:0;
    cursor:pointer;
    font-size:14px;
    transition:all .2s ease-out;
    display:inline-block;
    text-align:center;
    padding:0 20px;
    min-width:70px;
    color:#444;
    border-width:1px 1px 1px 0;
    border-style:solid;
    border-color:#b2b3b4;
    border-left:none;
    margin-left:1px;
    border-radius:0;
    text-decoration:none;
    font-size:12px;
    cursor:pointer;
    text-shadow:#fff 0 1px 1px
}
.mochi_button_group_item * {
    cursor:pointer
}
.mochi_button_group_item:hover, .mochi_button_group_item_hover {
    background:#fefefe;
    
    
    
    
    
    background:#f1f6f3;
    
}
.mochi_button_group_item:active, .mochi_button_group_item_active {
    box-shadow:inset 0 0 15px rgba(0, 20, 30, 0.3)
}
.mochi_button_group_item.selected {
    box-shadow:inset 0 0 8px rgba(0, 20, 30, 0.2);
    background:#d3d4d8;
    
    
    
    
    
    background:#dedfe1;
    
}
.mochi_button_group>li:first-child>.mochi_button_group_item {
    border-top-left-radius:2px;
    border-bottom-left-radius:2px;
    border-left:1px #b2b3b4 solid
}
.mochi_button_group>li:last-child>.mochi_button_group_item {
    border-top-right-radius:2px;
    border-bottom-right-radius:2px
}
.mochi_button_group.round>li:first-child>.mochi_button_group_item {
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
    border-left:1px #b2b3b4 solid
}
.mochi_button_group.round>li:last-child>.mochi_button_group_item {
    border-top-right-radius:15px;
    border-bottom-right-radius:15px
}
.mochi_button_group.dark>li:first-child>.mochi_button_group_item {
    border-left:1px #3f3e3d solid
}
.mochi_button_group_item.dark {
    background:#737373;
    
    
    
    
    
    background:#484649;
    
    color:#DDD;
    text-shadow:black 0 1px 1px;
    border:1px solid #3f3e3d;
    color:#262626;
    border-left:none;
    margin-left:1px;
    font-weight:bold;
    border-color:#3f3e3d;
    text-shadow:0 1px 1px #737372
}
.mochi_button_group_item.dark:hover, .mochi_button_group_item_dark_hover {
    background:#838383;
    
    
    
    
    
    background:#585659;
    
}
.mochi_button_group_item.dark:active, .mochi_button_group_item_dark_active {
    box-shadow:inset 0 0 15px rgba(0, 20, 30, 0.8)
}
.mochi_button_group_item.dark.selected {
    box-shadow:inset 0 0 8px rgba(0, 20, 30, 0.8);
    background:#2c2b27;
    
    
    
    
    
    background:#21201e;
    
    color:#4ac3ff;
    text-shadow:0 0 10px #4ac3ff
}
.mochi_combo {
    background:#fbfdfb;
    
    
    
    
    
    background:#e8eae9;
    
    border-radius:2px;
    border:1px #b2b3b4 solid;
    color:#333;
    text-decoration:none;
    text-shadow:0
    user-select:none;
    box-sizing:border-box;
    height:30px;
    line-height:28px;
    font-family:'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    outline:0;
    cursor:pointer;
    font-size:14px;
    transition:all .2s ease-out;
    display:inline-block;
    text-align:center;
    padding:0 20px;
    min-width:70px;
    min-width:70px
}
.mochi_combo * {
    cursor:pointer
}
.mochi_combo:hover, .mochi_combo_hover {
    background:#fefefe;
    
    
    
    
    
    background:#f1f6f3;
    
}
.mochi_combo:active, .mochi_combo_active {
    box-shadow:inset 0 0 15px rgba(0, 20, 30, 0.3)
}
.mochi_combo:after {
    border-width:10px;
    border-color:#333 transparent transparent transparent;
    border-style:solid;
    display:block;
    height:10px;
    width:10px;
    box-sizing:content-sizing;
    content:"V"
}
.mochi_combo.dark {
    background:#737373;
    
    
    
    
    
    background:#484649;
    
    color:#DDD;
    text-shadow:black 0 1px 1px;
    border:1px solid #3f3e3d
}
.mochi_combo.dark:hover, .mochi_combo_dark_hover {
    background:#838383;
    
    
    
    
    
    background:#585659;
    
}
.mochi_combo.dark:active, .mochi_combo_dark_active {
    box-shadow:inset 0 0 15px rgba(0, 20, 30, 0.8)
}
.mochi_combo.dark:after {
    border-color:#333 transparent transparent transparent;
    box-sizing:content-sizing;
    content:"V"
}
.mochi_checkbox, .mochi_radio {
    user-select:none;
    box-sizing:border-box;
    height:30px;
    line-height:28px;
    font-family:'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    outline:0;
    cursor:pointer;
    font-size:14px;
    transition:all .2s ease-out;
    background:#fbfdfb;
    
    
    
    
    
    background:#e8eae9;
    
    border-radius:2px;
    border:1px #b2b3b4 solid;
    color:#333;
    text-decoration:none;
    text-shadow:0
    border-radius:2px;
    height:25px;
    width:25px;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.3);
    display:block;
    content:" ";
    margin-top:1px;
    margin-left:1px;
    box-shadow:0 0 0 transparent;
    margin:2px;
    display:inline-block
}
.mochi_checkbox *, .mochi_radio * {
    cursor:pointer
}
.mochi_checkbox {
    border-radius:2px
}
.mochi_radio {
    border-radius:14px
}
.mochi_checkbox:hover, .mochi_radio:hover {
    background:#fefefe;
    
    
    
    
    
    background:#f1f6f3;
    
}
.mochi_checkbox[disabled], .mochi_radio[disabled] {
    background:#e4e4e4;
    box-shadow:inset 0 0 10px rgba(0, 0, 0, 0.2)
}
.mochi_checkbox:after, .mochi_checkbox:before {
    content:"";
    display:block;
    height:4px;
    width:10px;
    float:left;
    margin:12px 0 0 3px;
    border-bottom-right-radius:2px;
    background:#d3d3d2;
    box-shadow:0 1px 1px #fff
}
.mochi_checkbox:after {
    width:16px;
    margin-top:10px;
    margin-left:-7px;
    border-bottom-right-radius:0;
    border-top-left-radius:2px;
    border-bottom-left-radius:2px;
}
.mochi_radio:after {
    content:"";
    display:block;
    margin:6px 0 0 6px;
    width:11px;
    height:11px;
    border-radius:6px;
    background:#d3d3d2;
    box-shadow:0 1px 1px #fff
}
.mochi_checkbox:checked:after, .mochi_radio:checked:after, .mochi_checkbox:checked:before, .mochi_radio:checked:before {
    background:#a2c13e
}
.mochi_checkbox.dark, .mochi_radio.dark {
    background:#737373;
    
    
    
    
    
    background:#484649;
    
    border-radius:2px;
    border:1px #3f3e3d solid;
    color:#333;
    text-decoration:none;
    text-shadow:0
    box-shadow:0 0 0 transparent;
    margin:2px;
    display:inline-block
}
.mochi_checkbox.dark {
    border-radius:2px
}
.mochi_radio.dark {
    border-radius:14px
}
.mochi_checkbox.dark:hover, .mochi_radio.dark:hover {
    background:#838383;
    
    
    
    
    
    background:#585659;
    
}
.mochi_checkbox.dark[disabled], .mochi_radio.dark[disabled] {
    background:#f2f2f2;
    
    
    
    
    
    background:#d7d8da;
    
    color:#666;
    cursor:default;
    text-shadow:0
    content:"   ";
    color:#737372;
    background:#585659;
    
    
    
    
    
    background:#484649;
    
    color:#666;
    cursor:default;
    text-shadow:0
    box-shadow:inset 0 0 10px rgba(0, 0, 0, 0.2)
}
.mochi_checkbox.dark:after, .mochi_checkbox.dark:before {
    background:#262626;
    box-shadow:0 1px 1px #737372
}
.mochi_radio.dark:after {
    background:#262626;
    box-shadow:0 1px 1px #737372
}
.mochi_checkbox.dark:checked:after, .mochi_radio.dark:checked:after, .mochi_checkbox.dark:checked:before, .mochi_radio.dark:checked:before {
    background:#4ac3ff;
    box-shadow:0 0 10px #4ac3ff
}
.mochi_list {
    margin:3px 0;
    padding:0;
    list-style:none;
    border-radius:5px;
    border:1px solid #ccc;
    border-bottom:1px solid #fff
}
.mochi_list_item {
    background:#fcfcfc;
    height:30px;
    border-top:1px solid #fff;
    border-bottom:1px solid #ccc;
    padding:4px 10px
}
.mochi_list_item .label {
    height:30px;
    line-height:30px;
    font-weight:bold
}
.mochi_list_item .widget, .mochi_list_item .value {
    float:right
}
.mochi_list_item .value {
    color:#353864;
    margin-right:10px;
    height:28px;
    line-height:28px
}
.mochi_list_item .trigger {
    user-select:none;
    box-sizing:border-box;
    height:30px;
    line-height:28px;
    font-family:'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    outline:0;
    cursor:pointer;
    font-size:14px;
    transition:all .2s ease-out;
    padding:4px 10px;
    width:100%;
    height:38px;
    display:block;
    text-decoration:none
}
.mochi_list_item .trigger * {
    cursor:pointer
}
.mochi_list_item .trigger:hover {
    background:#0082e5;
    
    
    
    
    
    background:#193ad1;
    
}
.mochi_list_item .trigger:hover .value, .mochi_list_item .trigger:hover .label {
    color:white
}
.mochi_list_item .trigger:hover .more:after, .mochi_list_item .trigger:hover .more:before {
    background:white
}
.mochi_list_item .more {
    height:14px;
    width:14px;
    display:inline-block;
    margin-top:10px
}
.mochi_list_item .more:after, .mochi_list_item .more:before {
    content:" ";
    display:block;
    background:#737372;
    height:4px;
    width:12px;
}
.mochi_list_item .more:after {
    margin-top:2px;
}
.mochi_list_item.with_trigger {
    padding:0;
    height:38px
}
.mochi_list_item:first-child {
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-top:0
}
.mochi_list_item:first-child .trigger {
    border-top-left-radius:5px;
    border-top-right-radius:5px
}
.mochi_list_item:last-child {
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px
}
.mochi_list_item:last-child .trigger {
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px
}
.mochi_list.dark {
    border:1px solid #333;
    border-bottom:1px solid #666
}
.mochi_list_item.dark {
    background:#525253;
    border-top:1px solid #666;
    border-bottom:1px solid #333
}
.mochi_list_item.dark .more:after, .mochi_list_item.dark .more:before {
    background:#4ac3ff
}
.mochi_list_item.dark .value {
    color:#4ac3ff
}